{% for day in (1..site.data.course.days) -%}
  {%- assign date = day | class_date: site.data.course.start_date -%}
  {%- assign date_xml = day | class_date: site.data.course.start_date | date_to_xmlschema -%}
  <div class="project-block" data-date="{{ date | date_to_xmlschema }}">
    {%- for post in site.projects -%}
      {%- assign post_date_xml = post.assigned | class_date: site.data.course.start_date | date_to_string | date_to_xmlschema -%}
      {%- if post_date_xml == date_xml -%}
        <h4>Current Project</h4>
        <div class="project">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title | markdownify | strip_html | strip }}
          </a>
        </div>
      {%- endif -%}
      {%- if post.due -%}
        {%- assign due_date_xml = post.due | class_date: site.data.course.start_date | date_to_string | date_to_xmlschema -%}
        {%- if post_date_xml < date_xml and date_xml < due_date_xml -%}
          <h4>Current Project</h4>
          <div class="project">
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title | markdownify | strip_html | strip }}
            </a>
          </div>
        {%- endif -%}
        {%- if due_date_xml == date_xml -%}
          <h4>Project Due</h4>
          <div class="project project-due">
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title | markdownify | strip_html | strip }}
            </a>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endfor %}

<script type="text/javascript">
  var today = new Date('October 27, 2018');
  if(today.getDay() == 6) {
    today.setDate(today.getDate() - 1);
  } else if(today.getDay() == 0) {
    today.setDate(today.getDate() - 2);
  }
  var cells = document.querySelectorAll('.project-block');
  for (var i = 0; i < cells.length; i++) {
    var cell = cells[i];
    var date = new Date(cell.dataset.date);
    if (date.getYear() === today.getYear()) {
      cell.classList.add('this-year');
      if (date.getMonth() === today.getMonth()) {
        cell.classList.add('this-month');
        if (date.getDate() === today.getDate()) {
          cell.classList.add('today');
        }
      }
    }
  }
</script>

<style>
.project-block {
  display: none;
}
.project-block.today {
  display: block;
}
</style>

<div id="daily"></div>

<hr />

{% include calendar.html %}

<script type="text/javascript">
  var today = new Date('October 24, 2018');
  var cells = document.querySelectorAll('.day');
  for (var i = 0; i < cells.length; i++) {
    var cell = cells[i];
    var date = new Date(cell.dataset.date);
    if (date.getYear() === today.getYear()) {
      if (date.getMonth() === today.getMonth()) {
        if (date.getDate() === today.getDate()) {
          var todayview = cell.cloneNode(true);
          document.getElementById('daily').appendChild(todayview);
        }
      }
    }
  }
</script>
