---
layout: default
---

<article>
	<h1>
    {% if page.day -%}
      <small>Week {{ page.day | minus:1 | divided_by:5 | plus:1 }}</small>
    {%- endif %}
		{{ page.date | date: "%A, %B&nbsp;%-d,&nbsp;%Y" }}
	</h1>
  {% if page.day -%}
		{%- include day.html day=page.day -%}
  {%- endif %}
</article>

<aside id="nav">
  {%- assign tomorrow = page.calendar_day | plus:1 -%}
  {%- assign yesterday = page.calendar_day | minus:1 -%}
  {%- assign next = site.pages | where:"category","days" | where:"calendar_day",tomorrow | first -%}
  {%- assign previous = site.pages | where:"category","days" | where:"calendar_day",yesterday | first -%}
  {% if next -%}
    <a class="card" href="{{ site.baseurl }}{{ next.url }}">
      <div class="label">Next</div>
      {{ next.date | date: "%A, %B&nbsp;%-d,&nbsp;%Y" }}
    </a>
  {%- endif %}
  {% if previous -%}
    <a class="card" href="{{ site.baseurl }}{{ previous.url }}">
      <div class="label">Previous</div>
      {{ previous.date | date: "%A, %B&nbsp;%-d,&nbsp;%Y" }}
    </a>
  {%- endif %}
</aside>
